[submodule ".config/nixpkgs"]
	path = .config/nixpkgs
	url = https://github.com/NixOS/nixpkgs
[submodule "/home/jack/.tmux/plugins/tpm"]
	path = /home/jack/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
